:root {
  /* COLORS */

  /*Gray colors*/
  --grayColor300: #d1d5db;
  --grayColor500: #6b7280;
  --grayColor900: #111827;

  /* Blue colors */
  --blueColor50: #eff6ff;
  --blueColor100: #dbeafe;
  --blueColor200: #bfdbfe;
  --blueColor300: #93c5fd;
  --blueColor400: #60a5fa;
  --blueColor500: #3b82f6;
  --blueColor600: #2563eb;
  --blueColor700: #1d4ed8;
  --blueColor800: #1e40af;
  --blueColor900: #1e3a8a;
  /* FONTS */
}

/***************************
HEADER STYLING
****************************/
.main-header {
  padding: 2rem 0;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.logo-icon {
  height: 4rem;
  width: 4rem;
  color: var(--blueColor600);
}
.nav-link:link,
.nav-link:visited {
  color: var(--grayColor500);
  font-size: 1.6rem;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  color: var(--grayColor900);
}

/***************************
HERO STYLING
****************************/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  margin-top: 2rem;
  background-image: linear-gradient(
      rgba(37, 99, 235, 0.8),
      rgba(37, 99, 235, 0.4)
    ),
    url(../img/business.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: rgb(37, 99, 235); */
}

.hero-content {
  /* border: 1px solid red; */
  max-width: 80rem;
}
.hero h1 {
  color: var(--blueColor50);
}
.hero p.subtitle {
  color: var(--blueColor100);
}

/****************************
FEATURED COMPANY LOGOS SECTION STYLING
*****************************/
.logos {
  margin-top: 3rem;
  padding: 3rem 0;
  height: 20vh;
  /* border: 1px solid blue; */
}
.company-logo {
  width: 4rem;
  height: 4rem;
  color: var(--grayColor300);
}
.company-logo:hover {
  color: var(--blueColor600);
}
.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
