:root {
  /* COLORS */

  /*Gray colors*/
  --grayColor300: #d1d5db;
  --grayColor500: #6b7280;
  --grayColor900: #111827;

  /* Blue colors */
  --blueColor50: #eff6ff;
  --blueColor100: #dbeafe;
  --blueColor200: #bfdbfe;
  --blueColor300: #93c5fd;
  --blueColor400: #60a5fa;
  --blueColor500: #3b82f6;
  --blueColor600: #2563eb;
  --blueColor700: #1d4ed8;
  --blueColor800: #1e40af;
  --blueColor900: #1e3a8a;
  /* FONTS */
}

/***************************
HEADER STYLING
****************************/
.main-header {
  padding: 2rem 0;
  width: 100%;
  /* position: fixed;
  top: 0;
  left: 0; */
}
.top {
  /* background-color: var(--blueColor50); */
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.logo-icon {
  height: 4rem;
  width: 4rem;
  color: var(--blueColor600);
}
.nav-link:link,
.nav-link:visited {
  color: var(--grayColor500);
  font-size: 1.6rem;
  font-weight: 500;
}
.nav-link:hover,
.nav-link:active {
  color: var(--grayColor900);
}

/***************************
HERO STYLING
****************************/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* margin-top: 10rem; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(
      rgba(37, 99, 235, 0.8),
      rgba(37, 99, 235, 0.4)
    ),
    url(../img/business.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: rgb(37, 99, 235); */
}

.hero-content {
  /* border: 1px solid red; */
  max-width: 80rem;
}
.hero h1 {
  color: var(--blueColor50);
}
.hero p.subtitle {
  color: var(--blueColor100);
}

/****************************
FEATURED COMPANY LOGOS SECTION STYLING
*****************************/
.logos {
  padding: 2rem 0;
  height: 20vh;
  text-align: center;
  /* border: 1px solid blue; */
}
.company-logo {
  width: 4rem;
  height: 4rem;
  color: var(--grayColor300);
}
.company-logo:hover {
  color: var(--blueColor600);
}
.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*****************************
HOW TO SECTION STYLING
******************************/
.steps {
  /* height: 100vh; */
}
.steps-headline {
  text-align: center;
  padding: 8rem 0;
  max-width: 60rem;
}
.img-step {
  width: 80%;
}
.step-text {
  width: 80%;
}
.number {
  display: inline-block;
  font-size: 10rem;
  font-weight: 800;
  color: var(--blueColor600);
  margin-bottom: 1.4rem;
}

.step-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-images::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding-bottom: 60%;
  background-color: var(--blueColor100);
  z-index: -2;
}

.step-text h3 {
  position: relative;
}
.step-text h3::after {
  content: "";
  display: block;
  width: 10%;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--blueColor600);
  position: absolute;
  color: var(--blueColor600);
}
