* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root {
  --grayColor900: #171717;
  --grayColor800: #262626;
  --grayColor700: #404040;
  --grayColor600: #525252;
  --grayColor500: #737373;
  --grayColor400: #a3a3a3;
  --grayColor300: #d4d4d4;
  --grayColor200: #e5e5e5;
  --grayColor100: #f5f5f5;
  --grayColor50: #fafafa;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--grayishColor);
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--grayColor900);
}

h1 {
  font-size: 5.2rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
h2 {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subtitle {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--grayColor700);
  margin-bottom: 4.8rem;
}

/*************************  HEADER STYLING  *******************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  position: relative;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 900;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
  font-size: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--grayColor900);
}

.nav-link:hover,
.nav-link:active {
  color: var(--grayColor400);
  border-bottom: 1px solid var(--grayColor400);
  padding-bottom: 3px;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 0.8rem 1.6rem;
  background-color: var(--grayColor900);
  color: var(--grayColor100);
  border: 1px solid var(--grayColor900);
  border-radius: 5px;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: var(--grayColor100);
  color: var(--grayColor900);
  border: 1px solid var(--grayColor900);
}

/*************************  HERO STYLING  *******************************/
.hero-section {
  height: 92vh;
  /* background-image: linear-gradient(
      rgba(26, 26, 26, 0.7),
      rgba(26, 26, 26, 0.7)
    ),
    url(./hero-image.webp); */

  /* BACKGROUND IMAGE SHOULD SHOW THE USER IN AFTER STATE - AFTER USING THE PRODUCT/SERVICE, OR PRODUCT/SERVICE IN ACTION */
  background-image: url(./gradient.webp); /* This image is just a neutral placeholder*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* ALTERNATE WAY OF APPLYING OPACITY ON A BACKGROUND IMAGE*/
/* .hero-section::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
} */

.hero-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  border: 1px solid var(--grayColor900);
  border-radius: 5px;
}
.btn:hover,
.btn:active {
}
.btn-secondary {
  color: var(--grayColor900);
}
.btn-primary {
  margin-left: 1rem;
  background-color: var(--grayColor900);
  color: var(--grayColor100);
}

/********************** FEATURED IN SECTION **********************/
.trust-bar {
  padding: 4.8rem 0;
  text-align: center;
}

.featured-in {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--grayColor500);
  letter-spacing: 0.8px;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 1.6rem;
  filter: brightness(0);
  opacity: 50%;
}
